{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">



    <script src="{% static 'scripts/main.js' %}"></script>

    <title>{% block title %}{% endblock %}LandOfArt</title>
</head>
<body>

     <nav class="navbar is-white">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>LandOfArt</strong></a>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

                    .navbar{
                        position: fixed;
                        width: 100%;
                        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
                    }
                    a strong{
                        font-family: 'Lobster', cursive;
                       font-size: 25px;
                   } 
                </style>
        
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <form action="{% url 'search' %}" method="get">
                        <div class="field has-addons">
                            <div class="control">
                                <input type="text" class="input" placeholder="Search..." name="query">
                            </div>
                            <div class="control">
                                <button class="button is-dark is-uppercase">Search</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    
                </div>
                <div class="navbar-end">
                    {% for category in menu_categories %}
                    <a href="{% url 'category' category.slug %}" class="navbar-item"> {{ category.title }}</a>
                    {% endfor %}
                    
                    <a href="{% url 'vendors' %}" class="navbar-item">Vendors</a>
                    <div class="navbar-item">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'vendor_admin' %}" class="button is-dark">Vendor admin</a>
                    {% else %}
                        <a href="{% url 'info_vendor' %}" class="navbar-item">Become vendor</a>
                    <!-- here -->
                    {% endif %}
                    </div>
                    <div class="navbar-item">
                        <a href="{% url 'cart' %}" class="button is-dark"> Cart{% if cart %} ({{ cart|length }}) {% endif %}</a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section ">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

         <footer class="footer">
            
        
                {% if request.user.is_authenticated %}
                    <a href="{% url 'vendor_admin' %}">Vendor admin</a>
                {% else %}
                    <a href="{% url 'info_vendor' %}">Become vendor</a>
                    <!-- here -->
                {% endif %} <br>
                <a href="{% url 'contact' %}" >Contact Us</a>

<h3 class="is-size-4 mb-4 loa">LandOfArt</h3>
                <style>
                    .loa{
                        font-family: 'Lobster', cursive;
                    }
                </style>
                
        </footer>
</body>
</html>